# Environments
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datasets / point clouds
data/
dataset/
*.las
*.laz
*.pcd
*.ply
*.xyz
*.bin
*.npy
*.npz

# Outputs / archives
output/
results/
*.zip

# Secrets / editor
.env
.vscode/
.idea/

venv/
data/
ScreenCapture_*.png
ScreenCamera_*.json
